.form {
  z-index: 1;
}

.srOnly {
  composes: sr-only from global;
}

.controls {
  display: flex;
  gap: 0.5rem;
}

.input {
  background-color: var(--clr-surface);
  border: 1px solid var(--clr-border);
  border-radius: var(--radius-sm);
  outline: none;
  padding-inline-start: 1rem;
  min-width: 0;
  flex-grow: 1;
}

.error {
  color: var(--clr-text-error);
  font-size: 0.875rem;
}

.error:not(:empty) {
  margin-block-start: 0.5rem;
}
